<form action = "/results" method="GET">
    <input type="text" name="q" placeholder="City Name">
    <input type="submit">
</form>
<%if(data){%>
<h1>Results</h1>
<h4>Temperature::<%=data.main.temp%>Celcius</h4>
<h4>Visibility::<%=data.visibility%></h4>
<h4>Humidity::<%=data.main.humidity%></h4>
<%}%>
